.hero2__wrapper
{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin-top:2rem;
    gap:1rem;
   
}

.hero2__content {
    overflow: hidden; /* Hide overflow content */
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out; /* Smooth transition */
}

.hero2__description
{
    text-align:center;
    font-size:var(--size-xxs);
    max-width:40ch;
    max-height: 0; /* Initially hidden */
    opacity: 0; /* Initially invisible */
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out; /* Smooth transition */

}

.hero2__content.open .hero2__description {
    max-height: 200px; /* Adjust based on content size */
    opacity: 1; /* Make visible */
}

.hero2__content .fa-chevron-down {
    transition: transform 0.3s ease; /* Ensure smooth rotation */
}

/* When content is open, rotate the icon to point up */
.hero2__content.open .fa-chevron-down {
    transform: rotate(180deg); /* Rotate to point up */
}

.arrow__color
{
 
    color:red;

}

.background
{
 background-color:black;
}

.hero2__header
{
    text-align:center;
    color:var(--clr-2);
    font-size:var(--size-xs);
    
}


.hero2__strong1
{
 color:var(--clr-2);
}

.hero2__strong2
{
    color:red;
}

.hero2__strong3
{
    color:var(--clr-12);
}

.testing
{

    display:flex;
    flex-direction:column;
    align-items:center;
    flex-direction:center;
}

/* xs */
@media(min-width:475px){

    .hero2__header
    {
        text-align:center;
        color:var(--clr-2);
        font-size:var(--size-xs);
    }
    
    .hero2__description
    {
        text-align:center;
        font-size:var(--size-xxs);
        max-width:40ch
    }

    .hero2__wrapper
    {
        display:flex;
        flex-direction:row;
        align-items:flex-start;
        justify-content:center;
        gap:1rem;
     
        margin-top:0rem;
    }



 }

/* sm */
 @media(min-width:640px){
 

 }

/* md */
@media(min-width:768px){

    .hero2__description
    {
        text-align:center;
        font-size:var(--size-xs);
        max-width:35ch
    }




 }


/* lg */
@media(min-width:1024px){



    .hero2__header
    {
        text-align:center;
        color:var(--clr-2);
        font-size:var(--size-base);
    }
    
    .hero2__description
    {
        text-align:center;
        font-size:var(--size-xs);
        max-width:40ch
    }



}

/* xl */
@media(min-width:1280px){
    
    
} 

/* 2xl */
@media(min-width:1536px){

    .hero2__header
    {
        text-align:center;
        color:var(--clr-2);
        font-size:var(--size-base);
    }
    
    .hero2__description
    {
        text-align:center;
        font-size:var(--size-sm);
        max-width:45ch
    }
} 