
    
    <div class="footer__wrapper">
        

        <p class="footer__header">

             Built By Geeked 
        </p>

        <div class="footer___dropwrap1">
            <p class="footer__dropdown"> 
                Contact us:
            </p>
            
             <p class="footer__channels">
                 Geeked930&#64;gmail.com
             </p>
 
           
          
        </div>
       
        <div class="footer___dropwrap2">
            <p class="footer__dropdown"> Follow Us: </p>
            <a target="_blank" href="https://x.com/GeekedOfficial_"> <i class="x fa-brands fa-x-twitter"></i></a>
    
        </div>
       

    </div>


