<div class="header__bgk ">
      
  <nav class="header ">
     <div class="header__wrap1">
      <a class="header__logo" href="#Home"><img src="https://img.icons8.com/badges/100/broken-robot.png" /> 

        </a>
        <a class="header__a" href="#Home" ><strong class="header__geeked">Geeked</strong></a> 
     </div>

     
    
    <!-- header bars for when our screen gets small-->



      <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
      <!--un order list of content-->
    <ul class="header__menu">

      <li class="header__link">
        <a href="#Examples"> Examples</a>
      </li>

      <li class="header__link">
        <a href="#Reactive">Reactive</a>
      </li>

      <li class="header__link">
        <a href="#Process"> process</a>
      </li>

      
      <!--header line-->
      <li class="header__line"> </li>

      <li class="twitter__wrapper" >
        <a class="header__build" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">
          Lets Build
        </a>
        <a target="_blank" href="https://x.com/GeekedOfficial_">
          <i class=" header__twitter fa-brands fa-x-twitter"></i>
        </a>
       
      </li>

      
    </ul>


  </nav>
</div>

