<div class="header__bgk " id="home">
      
  <nav class="header ">
     <div class="header__wrap1">
      <a class="header__logo" href="#home"><img src="https://img.icons8.com/badges/100/broken-robot.png" /> 

        </a>
        <a class="header__a" href="#home" ><strong class="header__geeked">Geeked</strong></a> 
     </div>

     
    
    <!-- header bars for when our screen gets small-->
      <button class="header__bars">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" >
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>

      
      <!--un order list of content-->
    <ul class="header__menu">

      <li class="header__link">
        <a href="#Examples"> Examples</a>
      </li>

      <li class="header__link">
        <a href="#Process"> Process</a>
      </li>

      <li class="header__link">
        <a href="#format"> Format</a>
      </li>

      
      <!--header line-->
      <li class="header__line"> </li>

      <li>
        <a class="header__build" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">
          Lets Build
        </a>
      </li>
      
    </ul>


  </nav>
</div>

