.hero
{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:1rem;
    margin-top:3rem;
    height:100%;
    width:100%;
    

}


.background
{
    background-color:black;
    border:1px solid black;

}

.hero__img img
{
    margin-top:3rem;
    padding-left:1rem;
    padding-right:1rem;
    height:15rem;
    width:17rem;

}

.hero__subtitle
{
    text-align:center;
    line-height:1.2;
    color:var(--clr-2);
    font-size:var(--size-2xl);
    max-width:20ch;
    font-weight:800;

    
}



.hero__title {
       
        
        font-weight: bold;
        background: linear-gradient(to right, var(--clr-9),var(--clr-6), var(--clr-13), var(--clr-12));
        -webkit-background-clip: text;
        color: transparent;
        font-weight:800;
     

}

.hero__description
{
    text-align:center;
    font-size:var(--size-xs);
    color:var(--clr-4);
    max-width:40ch;
}

.hero__flex
{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:1rem;

}

.hero__btn1
{
    letter-spacing: 0.05em; 
    text-transform:capitalize;
    font-size:var(--size-xs);


    display:inline-block;
    font-weight:600;
    text-decoration:none;
    letter-spacing:-0.05em;
    background-color:var(--clr-11);
    color: var(--clr-6);
    transition: all 0.3s ease; 
    border:1px solid var(--clr-11) ;
    /*em padding to be proportional to text of button*/
    padding: .5em 1em;
    border-radius:6px;
    transition: transform 0.3s,
   
}

.hero__btn2
{
    letter-spacing: 0.05em; 
    text-transform:capitalize;
    font-size:var(--size-xs);
    transition: all 0.3s ease; 
    display:inline-block;
    font-weight:600;
    text-decoration:none;
    letter-spacing:-0.05em;
    background-color: var(--clr-1);
    border:1px solid var(--clr-12);
    color: var(--clr-12);
    
    /*em padding to be proportional to text of button*/
    padding: .5em 1em;
    border-radius:6px;
    transition: transform 0.3s;
}

.hero__btn1:hover,
.hero__btn2:hover{
    transform:translateY(-3px);
}



.hero__btnWrap
{
    display:flex;
    gap:1rem;
}







/* xs */
@media(min-width:475px)
{

    .hero__flex
    {
        padding-top:.5rem;
    }

    .hero
    {
        /*in between each peice on content within hero we will have a gap*/
        gap:1rem;
        height:45rem;
        
    }
    
    
    .hero__subtitle
    {
    
    font-size:var(--size-3xl);
    
    }
    

    
    .hero__description
    {
        line-height: 1.5rem;
        font-size:var(--size-sm);
    }
    
    .hero__btn1,
    .hero__btn2
    {
        font-size:var(--size-sm);
    }
    
    .hero__img img
    {
    margin-top:3rem;
    padding-left:1rem;
    padding-right:1rem;
    height:20rem;
    width:22rem;

    }

}


@media(min-width:640px)
{

    .hero
    {
        /*in between each peice on content within hero we will have a gap*/
        gap:1rem;
        height:50rem;
    }
    

.hero__subtitle
{
    text-align:center;
    line-height:1.2;
    color:var(--clr-2);
    font-size:var(--size-4xl);
    max-width:25ch;
    
}

.hero__description
{
    font-size:var(--size-sm);
    max-width:58ch;
    line-height: 2rem;
}


.hero__img img
{
    
    padding-left:1rem;
    padding-right:1rem;
    margin-top:2rem;
    height:22rem;
    width:23rem;

}

.hero__flex{

    gap:2rem;
    padding-top:1rem;
}

}



@media(min-width:768px)
{


    .hero__description
{
    font-size:var(--size-base);
   
}


    .hero
    {
   
        height:54rem;
      
      margin-top:5.5rem;
      gap:2rem;
    }


.hero__img img
{
    margin-top:0rem;
    padding-left:1rem;
    padding-right:1rem;
    
    height:25rem;
    width:27rem;

}

}


/* lg */
@media(min-width:1024px){
    

    .hero
    {
        position:relative;
        display:flex;
        flex-direction:row;
        align-items:flex-start;
        justify-content:center;
        gap:3rem;
        padding-top:2rem;
        height:37rem;
        
     
    }

    .hero__flex{
        display:flex;
        flex-direction:column;
        align-items:flex-start;
        justify-content:flex-start;

        padding-top:0rem;
      
        height:100%;
        gap:2rem;
        
        
    }
    
    .hero__img img
    {
       
        /*sizing of image preportional to parent*/
        width:25rem;
        height:25rem;
        padding:0rem;
        margin:0rem;
       
    }
    
    .hero__subtitle
    {
    
    padding-top:0rem;
    text-align:left;
    font-size:var(--size-3xl);
    max-width:15ch;
    
    }
    

    
    .hero__description
    {
    
        text-align:left;
        font-size:var(--size-xs);
        max-width:44ch;
      
    }
    
    .hero__btnWrap
    {

        display:flex;
        flex-direction:row;
        align-items:flex-start;
        width:100%;
        
    }
    .hero__btn1,
    .hero__btn2
    {
       
        font-size:var(--size-xs);
    }
        

}



/* xl */
@media(min-width:1280px){

    
    .hero

    {
        position:relative;
        display:flex;
        flex-direction:row;
        align-items:flex-start;
        margin-top:5rem;
        height:41rem;
        gap:3rem;
        
        

    }
    
    .hero__img img
    {
    
        /*sizing of image preportional to parent*/
        width:28rem;
        height:28rem;
       margin-top:4rem;
        
        
    }

    
    .hero__subtitle
    {
    padding-top:3rem;
    font-size:var(--size-4xl);
    }
    

    
    .hero__description
    {
        font-size:var(--size-sm);
        max-width: 44ch;
    }

    .hero__btn1,
    .hero__btn2
    {
        font-size:var(--size-sm);
    }
        

} 

/* 2xl */
@media(min-width:1536px){


    .hero__img
    {
    
        /*sizing of image preportional to parent*/
        width:37rem;
        height:37rem;
        padding-left:5rem;
        
    }
    
    .hero__subtitle
    {
    padding-top:3rem;
    font-size:var(--size-5xl);
    max-width:15ch;
    }
    

    
    .hero__description
    {
    
        
        font-size:var(--size-base);
      
    }

    .hero__btn1,
    .hero__btn2
    {
        font-size:var(--size-base);
    }
    
    .hero__flex
    {
       
        gap:1rem;
    }

    .hero{
    display:flex;
    gap:0rem;
    margin-top:5rem;
   padding-left:5.5rem;

    
    }
    

} 