
<div class="background" id="Home">
  
  <section class="hero container" >
              
    <div class="hero__flex">
      
      <h1 class="hero__subtitle">
        Transform Your Online Presence With <strong class="hero__title">Geeked</strong>

     
      </h1>

   
      <p class="hero__description">  
        
         The cutting-edge <strong>website building company </strong>that blends
          creativity with technology to deliver stunning, high-quality Tailored websites. Join countless satisfied clients who have elevated
         their brands and captivated their audiences with our expert web solutions. 

      </p>
      
        <div class="hero__btnWrap">
         
          <a class="hero__btn1" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Lets build</a>
          <a class="hero__btn2" routerLink="/Main3" routerLinkActive="active" ariaCurrentWhenActive="page">pricing</a>

        </div>


    </div>

    <div class="hero__img">
      <img src="hero.png" >
    </div>
    



  </section>


</div>



