


/*wave */
.custom-shape-divider-bottom-1724689672 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1724689672 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 58px;
}

.custom-shape-divider-bottom-1724689672 .shape-fill {
    fill: #FFFFFF;
}

/*wave */

/*second wave*/
.custom-shape-divider-bottom-1726808329 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1726808329 svg {
    position: relative;
    display: block;
    width: calc(134% + 1.3px);
    height: 36px;
}

.custom-shape-divider-bottom-1726808329 .shape-fill {
    fill: #000000;
}

/*second wave*/

.question__background
{
    background: var(--clr-14);
    
    min-height: 70vh;
    position:relative;

   
}

.question__wrapper
{
    display:flex;
    flex-direction:column;
    align-items:center;

    

    max-width:100%;
    

}


.question__header
{
    font-size:var(--size-xs);

    color:white;
    
  
    
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

.question__header h1{
    font-size:var(--size-2xl);
    max-width:20ch;
}

.Question__head
{
    color:white;
    font-size:var(--size-sm);

}

.question__questions
{
    padding-top:1rem;
    display:flex;
    flex-direction:column;
    align-items:left;
    justify-content:top;
    max-width:100%;
    margin-bottom:2rem;
   

}

/*three cards */

.question__answers
{
    display:flex;
    flex-direction:column;
    align-items:center;

    max-width:100%;
    margin-bottom:5rem;
}



/*three cards */

.question__title-button
{
    border:1px solid var(--clr-14);
    border-radius:5px;
    background-color: var(--clr-14); /* Inactive color */
    transition: border 0.3s ease; /* Add transition for smooth effect */
    padding:.3rem;
    font-size:var(--size-xs);


}

.question__questions{
  
    display:flex;
    gap:1rem;
   
}

.question__questions button.active {
    background-color: #2c2f31; /* Highlight color */
    color: #fff; /* Text color when active */
    border-radius:5px;

  }
  .question__questions button:hover{
    border:1px solid white;
    border-radius:5px;
  }

  
 
.question__header
{
    text-align:center;
    margin-bottom:1rem;
    padding-top:2rem;
}


.question__button
{
    width:100%;
}

.question__context p {
    margin-top: 5px;
   
    color: #666;
    overflow: hidden;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
    max-height: 0;
    padding: 0;
    
  }
  
  .question__context p.open {
    max-height: 10rem; /* Adjust based on content */
    margin-bottom:1rem;
  }

.Question__head
{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
   
}


.fa-plus,
.fa-minus
{
    font-size:.8rem;
    color:var(--clr-6);
    vertical-align: middle;
    
}

@keyframes rotateIcon {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
  }
  
  @keyframes rotateIconReverse {
    from {
      transform: rotate(180deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
  
  .rotate {
    animation: rotateIcon 0.4s ease;
  }
  
  .rotate.reverse {
    animation: rotateIconReverse 0.4s ease;
  }
.question__subtitle
{
    text-align:left;
    width:100%;
    margin-bottom:1rem;
    font-size:var(--size-base);
    
}

.collapsible-content
{
    max-width:25ch;
    font-size:var(--size-xs);
   
}



.header
{
    max-width:100%;
}

@media(min-width:475px){
    .question__title-button
    {
        font-size: var(--size-sm);
    }


    .question__header h1
    {
        font-size: var(--size-3xl);
        max-width:40ch;
        padding-top:3rem;
    }

    .question__subtitle
    {
        font-size: var(--size-lg);
    }

    .collapsible-content
    {
        max-width:34ch;
    }

    .question__background
{
    background: var(--clr-14);
    
    min-height: 81vh;
    position:relative;
   
}
        

 }
/* sm */
 @media(min-width:640px){

    .question__background
    {
        background: var(--clr-14);
        
        min-height: 91vh;
        position:relative;
       
    }

    .question__title-button
    {
        font-size: var(--size-base);
    }


    .question__header
    {
        font-size: var(--size-xl);
    }

    .question__subtitle
    {
        font-size: var(--size-xl);
    }
    .question__header
    {
        padding-top:5rem;
    }
    
    
.collapsible-content
{
    max-width:40ch;
}
    
 }

/* md */
@media(min-width:768px){

    .question__title-button
{


    text-align:left;
}
    .question__wrapper
    {
     
        display:flex;
        flex-direction:row;
        justify-content:space-around;
        align-items:flex-start;
 


    }

    .question__questions
    {
    
        padding-top:0rem;



    }


    .question__header
    {
        
        margin-bottom:3rem;
        justify-content:left;
        margin-left:5rem;

    }

    .question__header h2
    {
        max-width:30ch;
    }

    .question__background
{
    background: var(--clr-14);
   
    min-height: 83vh;
    position:relative;
   
}

.Question__head
{
    font-size: var(--size-base);

}




 }


/* lg */
@media(min-width:1024px){

    .question__wrapper
    {
     
        display:flex;
        flex-direction:row;
        justify-content: space-around;

    }

    .question__context
    {
        padding-right:0rem;
    }

    .question__title-button
    {
        font-size: var(--size-lg);
    }


    .question__header
    {
        font-size: var(--size-xl);
        padding-left:3.8rem;
    }

    .question__subtitle
    {
        font-size: var(--size-xl);
    }

    .Question__head
    {
        font-size: var(--size-xl);
    }

    .question__background
    {
        background: var(--clr-14);
        
        min-height: 89vh;
        position:relative;
       
    }

}
/* xl */
@media(min-width:1280px){

    .question__questions
    {
        margin-left:5rem;
    }

    .question__background
    {
        background: var(--clr-14);
        
        min-height: 99vh;
    }
    

    .question__header
    {
    
        padding-left:10rem;
    }

    .question__title-button
    {
        font-size: var(--size-xl);
    }


    .question__subtitle
    {
        font-size: var(--size-2xl);
    }

    .Question__head
    {
        font-size: var(--size-xl);
    }

    .collapsible-content
    {
        font-size: var(--size-base); 
    }

    .fa-plus,
.fa-minus
{
    font-size:1rem;
    color:var(--clr-6);
    vertical-align: middle;
    
}
} 

/* 2xl */
@media(min-width:1536px){

    .question__header
    {
        padding-top:2rem;
        padding-bottom:2rem;
       
        padding-left:14rem;
       
    }
    .question__header h1
    {
        font-size:var(--size-4xl);
    }
    

    .question__background
    {
        background: var(--clr-14);
        min-height: 117vh;
   
    }



    .question__questions
    {
        margin-left:4.7rem;
    }
    
    .Question__head{
        font-size: var(--size-2xl);
    }


} 