<!-- questions.component.html -->



<div class="question__background" id="Process">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#003609" fill-opacity="1" d="M0,320L20,314.7C40,309,80,299,120,282.7C160,267,200,245,240,218.7C280,192,320,160,360,160C400,160,440,192,480,192C520,192,560,160,600,128C640,96,680,64,720,85.3C760,107,800,181,840,181.3C880,181,920,107,960,85.3C1000,64,1040,96,1080,122.7C1120,149,1160,171,1200,154.7C1240,139,1280,85,1320,85.3C1360,85,1400,139,1420,165.3L1440,192L1440,0L1420,0C1400,0,1360,0,1320,0C1280,0,1240,0,1200,0C1160,0,1120,0,1080,0C1040,0,1000,0,960,0C920,0,880,0,840,0C800,0,760,0,720,0C680,0,640,0,600,0C560,0,520,0,480,0C440,0,400,0,360,0C320,0,280,0,240,0C200,0,160,0,120,0C80,0,40,0,20,0L0,0Z"></path></svg>
  <div class="container">
    <div class="question__header">
      <h2>Process Of Development.</h2>
    </div>

    <div class="question__wrapper">
      <div>

        <!-- Button Container -->
      <div class="question__questions">
        <!-- Button 1 -->
        <button class="question__title-button"
          [ngClass]="{'active': activeSection === 'planning'}" 
          (click)="showSection('planning')">
          Planning
        </button>

        <!-- Button 2 -->
        <button class="question__title-button"
          [ngClass]="{'active': activeSection === 'design'}" 
          (click)="showSection('design')">
          Building/Deployment
        </button>

        <!-- Button 3 -->
        <button class="question__title-button"
          [ngClass]="{'active': activeSection === 'build'}" 
          (click)="showSection('build')">
          More Info
        </button>
      </div>


      </div>
      



      <div>  


      <!-- Answers Sections -->
      <div class="question__answers" *ngIf="activeSection === 'planning'">
        <!-- Answers for Planning -->
        <div class="question__subtitle">
          <h3>Planning</h3>
        </div>



        <div class="question__context">
          <button class="question__button" (click)="handleButtonClick($event)">
            <h2 class="Question__head">Goals
              <i #icon class="fa-solid fa-plus"></i>
            </h2>
          </button>
          <p class="collapsible-content">
           At Geeked we emphasize the importance of aligning our objectives
            with yours. That's why we prioritize setting clear goals and
             meticulously planning what we aim to create for our clients.

          </p>
          <hr class="question__line">
        </div>

        <div class="question__context">
          <button class="question__button" (click)="handleButtonClick($event)">
            <h2 class="Question__head">Research
              <i #icon class="fa-solid fa-plus"></i>
            </h2>
          </button>
          <p class="collapsible-content">In our research phase, we delve deep into understanding your industry, audience, and unique needs. By gathering insights and analyzing trends, we ensure that our strategies are informed and tailored to create impactful,
            effective solutions for your project.</p>
          <hr class="question__line">
        </div>

        <div class="question__context">
          <button class="question__button" (click)="handleButtonClick($event)">
            <h2 class="Question__head">Sitemap
              <i #icon class="fa-solid fa-plus"></i>
            </h2>
          </button>
          <p class="collapsible-content">The site map serves as the blueprint for your website, outlining its structure and navigation. Before building begins we will make sure to have defined each section and page, matching your vision of your website every step of the way.</p>
          <hr class="question__line">
        </div>
      </div>


        <div class="question__answers" *ngIf="activeSection === 'design'">
          <!-- Answers for Designing -->
          <div  class="question__subtitle">
            <h3>Building/Deployment</h3>
          </div>
  


          <div class="question__context">
            <button class="question__button" (click)="handleButtonClick($event)">
              <h2 class="Question__head">
                Time Frame
                <i #icon class="fa-solid fa-plus"></i>
              </h2>
            </button>
            <p  class="collapsible-content">
              Subject to each project, our time frame
               outlines key milestones tailored to your needs. We’ll keep you updated at every stage, providing regular progress reports to ensure the final result aligns with your vision.
            </p>
            <hr class="question__line">
          </div>
          


          <div class="question__context">
            <button class="question__button" (click)="handleButtonClick($event)">
              <h2 class="Question__head">Deployment
                <i #icon class="fa-solid fa-plus"></i>
              </h2>
            </button>
            <p class="collapsible-content">
              Once your website is ready, we handle the deployment by hosting it on a reliable server to ensure optimal performance and uptime. If needed, we can also assist with implementing a domain name, 
              making the transition seamless and hassle-free for you.

            </p>
                 <hr class="question__line">
          </div>
        </div>
  
        <div  class="question__answers" *ngIf="activeSection === 'build'">
          <!-- Answers for Building/Deployment -->
          <div  class="question__subtitle">
            <h3>More Info</h3>
          </div>
  
  
          <div class="question__context">
            <button class="question__button" (click)="handleButtonClick($event)">
              <h2 class="Question__head"> Updates
                <i #icon class="fa-solid fa-plus"></i>
              </h2>
            </button>
            <p class="collapsible-content">

              We offer complimentary updates for minor text changes on your website, ensuring you can keep your messaging fresh and relevant. However, for larger content revisions or structural changes,
               a fee may apply to accommodate the additional work involved.
              
            </p>
            <hr class="question__line">
          </div>
  
          <div class="question__context">
            <button class="question__button" (click)="handleButtonClick($event)">
              <h2 class="Question__head">Art
                <i #icon class="fa-solid fa-plus"></i>
              </h2>
            </button>
            <p class="collapsible-content">
              To enhance your website's visual appeal, we can connect you with a talented artist for custom graphics or illustrations. This collaboration ensures your page stands out 
              and reflects your unique brand identity.
            </p>
            <hr class="question__line">
          </div>
        </div>


      </div>



    </div>
  </div>
  <div class="custom-shape-divider-bottom-1726808329">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
</div>
</div>



