
<div class="navigation">
    <button class="hamburger" (click)="show()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" >
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
          
    </button>
    <button class="button__x" (click)="show()">
        <i  class="fa-solid fa-x x"></i>
    </button>

    <nav class="testing">
        <ul class="ul">
                <li> <a class="t" href="#Home"> home </a> </li>
                <li> <a class="t" href="#Examples"> Examples </a> </li>
                <li> <a class="t" href="#Reactive"> reactive </a> </li>
                <li> <a class="t" href="#process"> questions </a> </li>
                <li> <a class="t" routerLink="/Main3" routerLinkActive="active" ariaCurrentWhenActive="page"> pricing </a> </li>
                <li> <a class="t"routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page"> lets build </a> </li>


        </ul>

    </nav>

</div>