.footer__wrapper
{
    background-color:var(--clr-5);
    color:white;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    padding-top:.6rem;
    padding-bottom:.6rem;
}

.contact__background
{
    background: linear-gradient(to bottom, rgb(15, 15, 16), rgb(26, 26, 26));
    height:83rem;
    position:relative;
}


.contant__left-title
{
    text-align:center;

}


.contact__inputs
{

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:1rem;
    padding:2rem;
    width:100%;
    
  
    /*keeps everything inside the box*/
    box-sizing: border-box; 

}

.contact__inputs input
{
   border-radius:5px; 
   padding:.3rem;

   width:100%;
}
.contact__inputs textarea
{
   
    border-radius:5px; 
    padding:.3rem;
    width:100%;
    resize: none;
    
}

.contact__btn
{
    border:1px solid white;
    color:white;
    width:100%;
    border-radius:5px; 
    
}

.contact__container
{
  
    width:100%;
    max-width: 400px;
   padding-right:1rem;
    padding-left:1rem;
}


.contact__wrapper
{

    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    padding-top:3rem;
}

.contact__info
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    gap:1rem;
   
}

.contact__info h3{

color:white;
text-align:center;

}

.contact__info p{
    max-width:30ch;
    text-align:center;
    border:1px solid red;
    width:100%;
    padding:1.3rem;
    

}





.title__header
{
     height:14rem;
     background-color:#DEC16C;
     display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-end;
    padding-bottom:1rem;
    width:100%
 

}


.title__header img{
    
    width:10rem;
    height:10rem;
 

}

.title__main
{
    padding-top:2rem;
   
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:1rem;
    
    margin-left:0;


}

.title__main h2
{
    max-width:10ch;
    color:white;
    text-align: center;
}

.title__main p
{
    padding:1.3rem;
    text-align:center;
    max-width:30ch;

}


.button__wrapper2
{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    gap:1rem;
    padding-top:1rem;
    
}

.contact__btn1
{
   
    text-transform:capitalize;
    font-size:var(--size-sm);


    display:inline-block;
    font-weight:600;
    text-decoration:none;
    letter-spacing:-0.05em;
    background-color:#DEC16C;
    color: var(--clr-1);
    transition: all 0.3s ease; 
    border:1px solid #DEC16C ;
    /*em padding to be proportional to text of button*/
    padding: .5em 1em;
    border-radius:6px;
    transition: transform 0.3s;
    
}

.contact__btn2
{
    
    text-transform:capitalize;
    font-size:var(--size-sm);
    transition: all 0.3s ease; 
    display:inline-block;
    font-weight:600;
    text-decoration:none;
    letter-spacing:-0.05em;
    background-color: var(--clr-1);
    border:1px solid #DEC16C;
    color: #DEC16C;
    
    /*em padding to be proportional to text of button*/
    padding: .5em 1em;
    border-radius:6px;
    transition: transform 0.3s;
    
}

.contact__btn1:hover,
.contact__btn2:hover{
    transform:translateY(-3px);
}



/*wave */
.custom-shape-divider-bottom-1724689547 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1724689547 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 44px;
}

.custom-shape-divider-bottom-1724689547 .shape-fill {
    fill: #FFFFFF;
}
/*wave */

/* xs */
@media(min-width:475px){

 }

/* sm */
 @media(min-width:640px){

 }

/* md */
@media(min-width:768px){

 }


/* lg */
@media(min-width:1024px){

}

/* xl */
@media(min-width:1280px){

} 

/* 2xl */
@media(min-width:1536px){

} 
