<div class="contact__background ">

    <div class="title__header ">
    
        <img src="build.png" alt="">
    </div>



        <div class=" container">

            <div class="title__wrapper2">

                <div class="title__main">
                    <h2> Where Your Ideas Take Shape. </h2>

    
                
    
                </div>
    
                <div class="drop__down">


                    <p>
                         Join countless satisfied clients who have elevated 
                        their brands and captivated their audiences with our expert web solutions.
                     </p>


                     <div class="button__wrapper2">
                        <a class="contact__btn1" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Lets build</a>
                        <a class="contact__btn2" routerLink="/Main3" routerLinkActive="active" ariaCurrentWhenActive="page">pricing</a>
                      </div>
                      
                      


                </div>


            </div>
           
      </div>
            
         
    
</div>


