<div class="examples__background" id="Examples">

  <div class="custom-shape-divider-top-1724453522">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path fill="black" fill-opacity="1" d="M0,96L26.7,122.7C53.3,149,107,203,160,218.7C213.3,235,267,213,320,170.7C373.3,128,427,64,480,69.3C533.3,75,587,149,640,197.3C693.3,245,747,267,800,234.7C853.3,203,907,117,960,96C1013.3,75,1067,117,1120,117.3C1173.3,117,1227,75,1280,53.3C1333.3,32,1387,32,1413,32L1440,32L1440,0L1413.3,0C1386.7,0,1333,0,1280,0C1226.7,0,1173,0,1120,0C1066.7,0,1013,0,960,0C906.7,0,853,0,800,0C746.7,0,693,0,640,0C586.7,0,533,0,480,0C426.7,0,373,0,320,0C266.7,0,213,0,160,0C106.7,0,53,0,27,0L0,0Z"></path>
</svg>

</div>
  <section class="cards1 container ">
            

    <div class="about__headerwrap">
     
        <h3 class="about__subtitle1  "> 
          Previously Built Websites <img class="about__hammer" src="hammer.png" alt=""></h3>
    
      <div class="about__subtitle3">
        <p > Explore a selection of websites we've crafted, showcasing our
          dedication to quality, creativity, and client satisfaction.</p>
      </div>
    </div>

</section>


<!--swiper cards-->

          <!-- Slider main container -->
<div class="swiper swiper1 container">
<!-- Additional required wrapper -->
<div class="swiper-wrapper">
<!-- Slides -->
<div class="swiper-slide swiper-slide1">
<div class="card1">

<div class="card2"> 
  
    <h1 class="about__maintitle1"> Example 1</h1>
    <p class="about__subtitle2"> Within example one you can see that
      there is much contetn Within example one you can see that
      there is much contetn 
      Within example one you can see that
      there is much contetn
      Within example one you can see that
      there is much contetn 
      Within example one you can see that
      there is much contetn
    </p>
    <b class="about__quote">
  
       <strong class="quote">"</strong> This is such a great website, awesome would recommend <strong class="quote">"</strong>
    </b>


</div>

<button class="image-content1  button">
  <img src="collection2.JPG" class="image1"> 
</button>

</div> 


          
</div>
<div class="swiper-slide swiper-slide1">


<div class="card1">

<div class="card2"> 
  
    <h1 class="about__maintitle1"> Example 2</h1>
    <p class="about__subtitle2"> Within example one you can see that
      there is much contetn Within example one you can see that
      there is much contetn 
      Within example one you can see that
      there is much contetn
      Within example one you can see that
      there is much contetn 
      Within example one you can see that
      there is much contetn
    </p>
    <b class="about__quote">
  
       <strong class="quote">"</strong> This is such a great website, awesome would recommend <strong class="quote">"</strong>
    </b>


</div>

<button class="image-content1 button">
  <img src="collection2.JPG" class="image1"> 
</button>

</div> 

</div>
<div class="swiper-slide swiper-slide1"> 


<div class="card1">

<div class="card2"> 
  
    <h1 class="about__maintitle1"> Example 3</h1>
    <p class="about__subtitle2"> Within example one you can see that
      there is much contetn Within example one you can see that
      there is much contetn 
      Within example one you can see that
      there is much contetn
      Within example one you can see that
      there is much contetn 
      Within example one you can see that
      there is much contetn
    </p>
    <b class="about__quote">
  
       <strong class="quote">"</strong> This is such a great website, awesome would recommend <strong class="quote">"</strong>
    </b>


</div>

<button class="image-content1 button">
  <img src="collection2.JPG" class="image1"> 
</button>

</div> 


</div>

</div>
<!-- If we need pagination -->
<div class="swiper-pagination swiper-pagination-bullets"></div>


<!-- If we need navigation buttons -->
<div class="swiper-button-prev"></div>
<div class="swiper-button-next"></div>

</div>

</div>

