

.card-wrapper1
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    
    gap:2rem;

}

.examples__background {
    background: linear-gradient(to bottom, rgb(15, 15, 16), rgb(30, 30, 30));
   
  }
  

.card1 
{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    width:100%;
    height:100%;
    padding-top:2rem;

    
}

.image-content1
{
    display:flex;
    flex-direction:column;
    align-items:center;


    
}


.image-content1 img{

    height:9rem;
    width:10rem;
   
}

.image1 {
width:100%;
height:100%;
transition: transform 0.5s ease; 
border-radius:20px;
}


.button:hover .image1 {
    transform: scale(1.05); /* Scale the image on hover */
     z-index:1;
}




.about__subtitle1
{
    padding-top:5rem;
    font-size:var(--size-3xl);
    
    text-align: center;
    color: var(--clr-2);
    padding-bottom:1rem;
    


}

.about__maintitle1
{
    padding-top:0rem;
    font-size:var(--size-xl);
   
    text-align: center;
    color: var(--clr-2);
    padding-bottom:1rem;
    display: inline; 
   
    
}

.about__subtitle2

{
    
    font-size:var(--size-xs);
    color: var(--clr-4);
    text-align: center;
    padding-bottom:1rem;
    max-width:30ch;

}

.about__subtitle3
{
    
    font-size:var(--size-sm);
    color: var(--clr-4);
    text-align: center;
    padding-bottom:2rem;
    max-width:35ch;

    
}

.about__headerwrap
{
    display:flex;
    flex-direction:column;
    align-items:center;
    
    
}

.card2{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-end;
    
}
.about__quote
{
    font-size:var(--size-sm);
    color: var(--clr-4);
    text-align: center;
    padding-bottom:2rem;
    max-width:30ch;
    
   
}

.quote{

color:red;
}

.about__hammer
{

height:2rem;
width:2rem;
display: inline-block; 
vertical-align: middle; 
}


@media(min-width:475px)
{

.about__hammer
{
    height:2rem;
width:2rem;
}
    .about__maintitle1
    {
        font-size:var(--size-2xl);
    }

.about__quote
{
    font-size:var(--size-base);
}

.about__subtitle1
{
    
    font-size:var(--size-xl);
}

.about__subtitle2
{
    font-size:var(--size-sm);
    max-width:40ch;
}

.about__subtitle3
{
    max-width:50ch;
    font-size:var(--size-base);
}
.image-content1 img{

    height:11rem;
    width:13rem;
   
}

.about__subtitle3
{
    font-size:var(--size-sm);
}

}

@media(min-width:640px){



.about__hammer
{
    height:2.3rem;
width:2.3rem;
}

    .about__subtitle1
    {
        font-size:var(--size-3xl);
    }

    .image-content1 img{

        height:11rem;
        width:12rem;
       
    }




 }

 @media(min-width:768px)
 {


    .card1{
       
        display:flex;
        justify-content:flex-start;
        align-items:center;
        gap:0rem;
        
        padding-top:2rem;

    }


    .about__subtitle1
    {
        font-size:var(--size-4xl);
        max-width:15ch;

    }

    .about__maintitle1{
        font-size:var(--size-3xl);
        
        
    }

    .about__subtitle2
    {
        font-size:var(--size-sm);
        max-width:55ch
      

    }

    .about__quote{
        font-size:var(--size-xl);
        max-width:25ch;

    }

    .image-content1 img{

        height:12rem;
        width:15rem;
       
    }

 }

 @media(min-width:1024px)
{




.about__hammer
{
      height:2.5rem;
      width:2.5rem;
}

    .card-wrapper1
    {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    
    
    }

    .card2
{
    
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    gap:1rem;
   
}
.about__quote{
    text-align:left;
    max-width:30ch;
}


    .about__subtitle1
    {
        font-size:var(--size-4xl);
        max-width:15ch;
        padding-top:6rem;
       
    }

    .card1{
        
        display:flex;
        flex-direction:row;
        justify-content:space-around;
        

    }
    .card2
    {
        margin:0rem;
        padding:0rem;
        
    }

.image-content1 img{


    height:16rem;
    width:16rem;
   
}

.about__maintitle1{
    text-align:left;
    font-size:var(--size-3xl);

}

.about__quote{
   
    text-align:left;
    
}
.about__subtitle2
{
    text-align:left;
    max-width:40ch;
}

.about__subtitle3
{
    font-size:var(--size-base);
    max-width:46ch;
    padding-bottom:0;
}

}



@media(min-width:1280px){
    

    .image-content1 img{

        height:21rem;
        width:21rem;
       
    }

.about__subtitle1
{
    font-size:var(--size-4xl);
    max-width:15ch;

}

.about__maintitle1{
    font-size:var(--size-3xl);
    
}

.about__subtitle2
{
    font-size:var(--size-base);
}
.about__quote
{
    font-size:var(--size-xl);
}

.about__subtitle3
{
    font-size:var(--size-lg);
    max-width:46ch;
}


.about__headerwrap
{
   
    margin-top:0rem;
}


} 


@media(min-width:1536px)
{


    .about__headerwrap
    {
        margin-top:-5rem;
      
        margin-bottom:5rem;
    }
    .card1{
        
        display:flex;
        flex-direction:row;
        justify-content:space-around;

    }

    .about__subtitle2
    {
        font-size:var(--size-base);
    }
    .about__quote
    {
        font-size:var(--size-lg);
    }
    
    .about__subtitle3
    {
        font-size:var(--size-xl);
        max-width:46ch;
    }


    
 .about__subtitle1
 {
   
    font-size:var(--size-5xl);
 }

 .about__subtitle3
 {
    
    font-size:var(--size-base);
 }


.about__maintitle1{

    font-size:var(--size-4xl);
 }




.image-content1 img{
    width:23rem;
    height:23rem;

   
}

.examples__background
{
   
    height:70rem;

}

.about__hammer
{
      height:2.8rem;
      width:2.8rem;
}


}