<div class="absolute__background">


     <div class="pricing__wrapper container">

        <div class="pricing__card">
         
            <div class="background__top">
                
                <p class="pricing__subtitle"> <i class=" top-icon fa-solid fa-box-open"></i> Starter </p>
                <h3 class="pricing__header"> $299</h3>
            </div>

            <div class="pricing__description"> 
                <span class="overlay2"> </span>
                <p class="card_info">
                    <i class=" fa-solid fa-check"></i>
                    1-2 Months Time Frame
                </p>
                <p class="card_info">
                    <i class="fa-solid fa-check"></i>
                    1-2 Pages Of Content
                </p>
                <p class="card_info">
                    <i class="fa-solid fa-check"></i>
                    Simple Comlexity 
                </p>
                
            </div>

        </div>
    
        <div class="pricing__card">
         
            <div class="background__top">
                
                <p class="pricing__subtitle"><i class="top-icon fa-solid fa-chart-line"></i>  Premium </p>
                <h3 class="pricing__header"> $599</h3>
            </div>

            <div class="pricing__description"> 
                <span class="overlay2"> </span>
                <p class="card_info">
                    <i class=" fa-solid fa-check"></i>
                    2-3 Months Time Frame
                </p>
                <p class="card_info">
                    <i class="fa-solid fa-check"></i>
                    2-3 Pages Of Content
                </p>
                <p class="card_info">
                    <i class="fa-solid fa-check"></i>
                    Intermediate Comlexity
                </p>
                
            </div>

        </div>
        
        <div class="pricing__card">
         
            <div class="background__top">
                
                <p class="pricing__subtitle"><i class="top-icon fa-regular fa-gem"></i> Ultimate </p>
                <h3 class="pricing__header"> $799</h3>
            </div>

            <div class="pricing__description"> 
                <span class="overlay2"> </span>
                <p class="card_info">
                    <i class=" fa-solid fa-check"></i>
                    3-4 Months Time Frame
                </p>
                <p class="card_info">
                    <i class="fa-solid fa-check"></i>
                    3-4 Pages Of Content
                </p>
                <p class="card_info">
                    <i class="fa-solid fa-check"></i>
                    Complex Comlexity
                </p>
                
            </div>

        </div>
    
    

     </div>
  
</div>

