<div class="absolute__background">


     <div class="pricing__wrapper container">

        <div class="pricing__card">
            <p class="pricing__subtitle"> plan 1 </p>
            <h3 class="pricing__header"> $299</h3>
            <p class="pricing__description"> This plan 
                includes a one-page layout designed
                 to effectively showcase your key content. Perfect for businesses or individuals looking to establish 
                an online presence with a streamlined and impactful design.
            </p>

        </div>
    
        <div class="pricing__card">

            <p class="pricing__subtitle"> plan 2 </p>
            <h3 class="pricing__header"> $599</h3>
            <p class="pricing__description">

                This plan features a two-page layout,
                 allowing for a more comprehensive presentation of your content. Ideal for businesses looking to highlight additional services or information, this plan balances functionality with a visually appealing design,
                 providing users with a seamless navigation experience.

    
        </div>
    
        <div class="pricing__card">

            <p class="pricing__subtitle"> plan 3 </p>
            <h3 class="pricing__header"> $799</h3>
            <p class="pricing__description"> This plan offers a three-page layout, perfect for businesses seeking to present a more extensive range of content. With dedicated sections for services, about us, and contact information, this layout enhances user engagement while providing a cohesive and polished design that effectively communicates your brand message.
            </p>

    
        </div>
    
    

     </div>
  
</div>

