<div class="header__bgk " id="home">
      
    <nav class="header ">
       <div class="header__wrap1">
        <a class="header__logo" href="#home"><img src="https://img.icons8.com/badges/100/broken-robot.png" /> 
  
          </a>
          <a class="header__a" href="#home" ><strong class="header__geeked">Geeked</strong></a> 
       </div>
  
  
        
        <!--un order list of content-->
      <ul class="header__menu">
  
        <li class="header__link">
          <a href="#Examples"> Examples</a>
        </li>
  
        <li class="header__link">
          <a href="#Process"> Process</a>
        </li>
  
        <li class="header__link">
          <a href="#format"> Format</a>
        </li>
  
        
        <!--header line-->
        <li class="header__line"> </li>
  
        <li class="twitter__wrapper" >

          <a target="_blank" href="https://x.com/GeekedOfficial_">
            <i class=" header__twitter fa-brands fa-x-twitter"></i>
          </a>
         
        </li>
  
        
      </ul>
  
  
    </nav>
  </div>
  
  
