
.reactive__media
{
    color:#00ff00;
}

.media__bkg
{
   background-color:var(--clr-11); 
    height: 35rem;
    
}

.media__wrapper
{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    
    height:29rem;
    

}

.media__title
{
    padding-top:1rem;

    text-align:center;
    color:white;
    max-width:22ch;
    font-size:var(--size-sm);
    
}

.media__subtitle2
{
    text-align: center;
    color:white;
    font-size:var(--size-sm);

   
}

.media__subtitle3
{
    text-align:center;
    font-size:var(--size-xs);
    max-width:30ch;
    color:rgb(139, 199, 154);
}




.media__img
{
    width:12rem;
    
}



.media__content
{
    padding-top:1rem;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:1rem;

}


.media__slash
{
    color:var(--clr-1);
}

/* xs */

@media(min-width:475px){


    
    .media__content{
        display:flex;
        flex-direction:row;

    }

.media__bkg
{
  
    min-height: 30rem;
}

.media__wrapper
{

    height:25rem;
    gap:2rem;
}


.media__subtitle2
{
    font-size:var(--size-lg);
  
    margin-bottom:1rem;
}

.media__title
{
    font-size:var(--size-lg);
}


 }



/* md */
@media(min-width:768px){
   
    
    .media__content{
        display:flex;
        flex-direction:row;
        width:100%;
        justify-content:center;
        gap:2rem;
        

    }

    .media__bkg
{
  
    min-height: 39rem;
}

.media__wrapper
{

    height:23rem;
    
}


.media__subtitle2
{
    font-size:var(--size-2xl);
  
    margin-bottom:1rem;
}

.media__title
{
    font-size:var(--size-2xl);
}


.media__img
{
    width:15rem;
}
 }


/* lg */
@media(min-width:1024px){

    .media__wrapper
{

    height:18rem;
    
}


}

/* xl */
@media(min-width:1280px){

    .media__content{
        display:flex;
        flex-direction:row;
        width:100%;
        justify-content:center;
        gap:5rem;
        

    }

    .media__subtitle2
    {
        font-size:var(--size-2xl);
    }

    .media__subtitle3
    {
        font-size:var(--size-lg);
    }


    .media__wrapper
    {
    
        height:18rem;
        
    }
    .media__bkg
{
  
    min-height: 42rem;
}
} 

/* 2xl */
@media(min-width:1536px){

    .media__subtitle2
    {
        font-size:var(--size-4xl);
    }

    .media__subtitle3
    {
        font-size:var(--size-lg);
    }

.media__bkg
{
    height:48rem;
}

.media__img
{
    width:18rem;
}

} 
