<div class="contact__background1">
    <div class="contact__wrapper container">

        <div class="contact__info">
    
           <h3> Start Here  </h3>
           <p>   After reviewing our pricing page, feel free to email us with the plan that resonates most with you. From there, 
            we can start the exciting journey of building your website together!
               
           </p>
           <div class="contact__icons">
    
               <i id="icon_colors" class="fa-solid fa-envelope"></i>
               <i class="fa-solid fa-arrow-right"></i>
               <i id="icon_colors" class="fa-solid fa-cart-shopping"></i>
               <i class="fa-solid fa-arrow-right"></i>
               <i id="icon_colors" class="fa-solid fa-globe"></i>
    
           </div>
    
    
        </div>
    
        <div class="contact__container">
            <form action="https://api.web3forms.com/submit" method="POST">
                <input type="hidden" name="access_key" value="6fc9e24b-0684-4ece-8b55-9efdf77c3dd7">
                <div class="contant__left-title">
                    <h3>Get in touch</h3>
                </div>
                <div class="contact__inputs">
                    <input type="text" name="name" placeholder="Your Name" required>
                    <input type="email" name="email" placeholder="Your Email" required>
                    <textarea name="message" placeholder="Your Message" required></textarea>
                    <button class="contact__btn" type="submit">Submit <i class="fa-solid fa-check"></i></button>
                </div>
            </form>
        </div>
        
    
     </div>

</div>



